.h1{
    color: red;
}
.container{
    margin: 5px 10px;
    border: 2px solid red;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form > label> input {
    width: 800px;
    height: 20px;
}